* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

.main-content{
  width: 80%;
  margin: 0 auto;
}

.main-content h2 {
  margin-top: 30px;
  color: #8A6D37;
}

.main-content p {
  margin-top: 50px;
  line-height: 1.5;
}

.link-to-books {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 150px;
  height: 40px;
  background-color: #8A6D37;
  margin-top: 100px;
  border-radius: 4px;
}

.link-to-books a {
  color: white;
  text-decoration: none;
}



@media (max-width: 375px) {
  .menu {
    padding: 0;
  }
}


